[Unit]
Description=todo-server
After=multi-user.target

[Service]
User=qsyoma
Group=qsyoma
Type=simple
Restart=always
WorkingDirectory=/opt/Todo-back-main
EnvironmentFile=/opt/backend.env
ExecStart=/opt/venv/bin/python3 /opt/Todo-back-main/manage.py runserver 0.0.0.0:8000

[Install]
WantedBy=multi-user.target
